{% extends 'base.html.twig' %}

{% block body %}
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-7 align-self-center">
          <h3>{{ card.getName() }}</h3>
          <p class="my-3">
            INFOTEXT INFOTEXT INFOTEXT INFOTEXT INFOTEXT INFOTEXT INFOTEXT<br />
            INFOTEXT INFOTEXT INFOTEXT INFOTEXT INFOTEXT INFOTEXT INFOTEXT<br />
            INFOTEXT INFOTEXT INFOTEXT INFOTEXT INFOTEXT INFOTEXT INFOTEXT<br />
            INFOTEXT INFOTEXT INFOTEXT INFOTEXT INFOTEXT INFOTEXT INFOTEXT<br />
            INFOTEXT INFOTEXT INFOTEXT INFOTEXT INFOTEXT INFOTEXT INFOTEXT<br />
            INFOTEXT INFOTEXT INFOTEXT INFOTEXT INFOTEXT INFOTEXT INFOTEXT<br />
          </p>
        </div>
        <div class="col-md-5">
          <img class="img-fluid d-block" src="/cards/image/card{{card.getId}}.png"> </div>
      </div>
    </div>
  </div>
  <div class="py-2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        {# HORIZONTAL
        <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Typ</th>
                <th>Kosten</th>
                <th>HP</th>
                <th>Karstentypen</th>
                <th>Effekte</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ card.getId() }}</td>
                <td>{{ card.getName() }}</td>
                <td>{{ card.getType() }}</td>
                <td>{{ card.getCost() }}</td>
                <td>{{ card.getHp() }}</td>
                <td>
                {% for cardtag in card.getCardtag() %}
                  <li>
                    {{ cardtag }}
                  </li>
                {% endfor %}
                </td>
                <td>{{ card.getEffect() }}</td>
              </tr>
            </tbody>
          </table>
          #}
          <table class="table">
              <tr>
                <td>#</td>
                <td>{{ card.getId() }}</td>
              </tr>
              <tr>
                <td>Name</td>
                <td>{{ card.getName() }}</td>
              </tr>
              <tr>
                <td>Typ</td>
                <td>{{ card.getType() }}</td>
              </tr>
              <tr>
                <td>Kosten</td>
                <td>{{ card.getCost() }}</td>
              </tr>
              <tr>
                <td>HP</td>
                <td>{{ card.getHp() }}</td>
              </tr>
              <tr>
                <td>Karstentypen</td>
                <td>
                {% for cardtag in card.getCardtag() %}
                  <li>
                    {{ cardtag }}
                  </li>
                {% endfor %}
                </td>
              </tr>
              <tr>
                <td>Effekte</td>
                <td>{{ card.getEffect() }}</td>
              </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
