{% extends 'base.html.twig' %}

{% block body %}

  <div class="container">
  <div class="py-5">
      <div class="row">
        <div class="col-md-8 align-self-center">
          <h3 style="padding:inherit;">{{ card.getName() }}</h3>
          <p class="my-3" style="padding:inherit;">
            {% if card.getInfotext() %}
              {{ card.getInfotext() }}
            {% endif %}
          </p>
        </div>
        <div class="col-md-4">
          <img class="img-fluid d-block" src="/cards/image/card{{card.getId}}.png" style="height: 75%;">
        </div>
      </div>
  </div>
  <div class="py-2" style="margin-top: -10em;">
      <div class="row">
        <div class="col-md-12">
        {# HORIZONTAL
        <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Typ</th>
                <th>Kosten</th>
                <th>HP</th>
                <th>Karstentypen</th>
                <th>Effekte</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ card.getId() }}</td>
                <td>{{ card.getName() }}</td>
                <td>{{ card.getType() }}</td>
                <td>{{ card.getCost() }}</td>
                <td>{{ card.getHp() }}</td>
                <td>
                {% for cardtag in card.getCardtag() %}
                  <li>
                    {{ cardtag }}
                  </li>
                {% endfor %}
                </td>
                <td>{{ card.getEffect() }}</td>
              </tr>
            </tbody>
          </table>
          #}
          <table class="table">
              <tr>
                <td>#</td>
                <td>{{ card.getId() }}</td>
              </tr>
              <tr>
                <td>Name</td>
                <td>{{ card.getName() }}</td>
              </tr>
              {% if card.getType() %}
                <tr>
                  <td>Typ</td>
                  <td>{{ card.getType() }}</td>
                </tr>
              {% endif %}
              {% if card.getCost() %}
                <tr>
                  <td>Kosten</td>
                  <td>{{ card.getCost() }}</td>
                </tr>
              {% endif %}
              {% if card.getHp() %}
                <tr>
                  <td>HP</td>
                  <td>{{ card.getHp() }}</td>
                </tr>
              {% endif %}
              {% if card.getCardtag() %}
                <tr>
                  <td>Karstentypen</td>
                  <td>
                  {% for cardtag in card.getCardtag() %}
                    <li>
                      {{ cardtag }}
                    </li>
                  {% endfor %}
                  </td>
                </tr>
              {% endif %}
              {% if card.getEffect() %}
                <tr>
                  <td>Effekte</td>
                  <td>{{ card.getEffect() }}</td>
                </tr>
              {% endif %}
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
