{% extends 'new/common/base.html.twig' %}

{% block content %}
<div id="app">
  <div id="cardContainer" class="container">
      <div class="row">
        <div class="col l12 s12">
          <h3>{{ card.getName() }}</h3>
          <p>
            {% if card.getInfotext() %}
              {{ card.getInfotext() }}
            {% endif %}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col l8 s8">
          <table class="table">
              <tr>
                <td>#</td>
                <td>{{ card.getId() }}</td>
              </tr>
              <tr>
                <td>Name</td>
                <td>{{ card.getName() }}</td>
              </tr>
              {% if card.getType() %}
                <tr>
                  <td>Typ</td>
                  <td>{{ card.getType() }}</td>
                </tr>
              {% endif %}
              {% if card.getCost() %}
                <tr>
                  <td>Kosten</td>
                  <td>{{ card.getCost() }}</td>
                </tr>
              {% endif %}
              {% if card.getHp() %}
                <tr>
                  <td>HP</td>
                  <td>{{ card.getHp() }}</td>
                </tr>
              {% endif %}
              {% if card.getCardtag() %}
                <tr>
                  <td>Kartentypen</td>
                  <td>
                  {% for cardtag in card.getCardtag() %}
                    <li>
                      {{ cardtag }}
                    </li>
                  {% endfor %}
                  </td>
                </tr>
              {% endif %}
              {% if card.getEffect() %}
                <tr>
                  <td>Effekte</td>
                  <td>
                    {% for cardEffect in card.getEffect() %}
                      <li>
                        {{ cardEffect }}
                      </li>
                    {% endfor %}
                  </td>
                </tr>
              {% endif %}
          </table>
        </div>

        <div class="col l4 s4">
          {#<img class="responsive-img col l8" src="/cards/image/card{{card.getId}}.png">#}
          <div class="carousel carousel-slider col l8 s8">
            {% for image in card.getAlternativeArtworks() %}
              <div class="carousel-item" href="#{{image}}">
                <img class="responsive-img col l12 s12" src="/cards/image/card{{card.getId}}_{{image}}.png">
              </div>
            {% endfor %}
          </div>
        </div>
    </div>
    {% if card.getTrivia() %}
    <div class="row" id="trivia">
      <div class="col l12 s12">
        <h5>Trivia</h5>
        {% for trivia in card.getTrivia() %}
          <li>
            {{ trivia }}
          </li>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
{% block javascripts %}
{% endblock %}
