{% extends 'new/common/base.html.twig' %}

{% block content %}
<div id="app">
  <div class="container">
      <div class="row">
        <div class="col l12">
          <h3>{{ card.getName() }}</h3>
          <p>
            {% if card.getInfotext() %}
              {{ card.getInfotext() }}
            {% endif %}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col l8">
          <table class="table">
              <tr>
                <td>#</td>
                <td>{{ card.getId() }}</td>
              </tr>
              <tr>
                <td>Name</td>
                <td>{{ card.getName() }}</td>
              </tr>
              {% if card.getType() %}
                <tr>
                  <td>Typ</td>
                  <td>{{ card.getType() }}</td>
                </tr>
              {% endif %}
              {% if card.getCost() %}
                <tr>
                  <td>Kosten</td>
                  <td>{{ card.getCost() }}</td>
                </tr>
              {% endif %}
              {% if card.getHp() %}
                <tr>
                  <td>HP</td>
                  <td>{{ card.getHp() }}</td>
                </tr>
              {% endif %}
              {% if card.getCardtag() %}
                <tr>
                  <td>Karstentypen</td>
                  <td>
                  {% for cardtag in card.getCardtag() %}
                    <li>
                      {{ cardtag }}
                    </li>
                  {% endfor %}
                  </td>
                </tr>
              {% endif %}
              {% if card.getEffect() %}
                <tr>
                  <td>Effekte</td>
                  <td>{{ card.getEffect() }}</td>
                </tr>
              {% endif %}
          </table>
        </div>

        <div class="col l4">
          <img class="responsive-img col l8" src="/cards/image/card{{card.getId}}.png">
        </div>
    </div>
  </div>
</div>
{% endblock %}
